<?xml version="1.0"?>
<launch>
  <!-- node for start joystick control -->
  <include file="$(find joy)/launch/ps3joy.launch"></include>
  <!-- node for imu -->
  <include file="$(find phidgets_spatial)/launch/spatial.launch"></include>

  <!-- node for GPS, TODO: test outside -->
  <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="9600" />
    <param name="frame_id" value="gps" />
    <param name="use_GNSS_time" value="False" />
    <param name="time_ref_source" value="gps" />
    <param name="useRMC" value="False" />
  </node>

	<node pkg = "rosaria" type = "RosAria" name = "RosAria">
		<param name="port" value="/dev/ttyS1" type="string"/>
	</node>
  <!-- depthai-ros for camera -->
  <!-- <args for urdf/> mobile_publisher -->
  <include file="$(find depthai_examples)/launch/rgbd_pcl.launch"></include>  
  
  <!-- node for lidar -->
  <include file="$(find sick_scan)/launch/sick_tim_7xx.launch"></include>  

  <!-- <include file="$(find depthai_examples)/launch/stereo_node.launch"> -->
  <node pkg="path_following" type="path_following.py" name="path_following" output="screen">
    <param name="file_path" type="str" value="$(find path_following)/path_points.txt" />
  </node>
  <!-- photo_taking node, save cone and objects  -->
  <node pkg="photo_taking" type="photo_taking.py" name="photo_taking" output="screen">
    <param name="file_path" type="str" value="$(find photo_taking)" />
  </node>
  <!-- node fot plot path -->
  <node pkg="record_display" type="record_display.py" name="record_display" output="screen"/>
  <!-- TODO: add a back moving control -->
  <node pkg="remote_control" type="remote_control.py" name="remote_control" output="screen"/>
</launch> 
