<launch>
  <!-- node for start joystick control -->
  <include file="$(find joy)/launch/ps3joy.launch"></include>
  <!-- node for imu -->
  <include file="$(find phidgets_spatial)/launch/spatial.launch"></include>

  <!-- node for GPS, TODO: test outside -->
  <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="9600" />
    <param name="frame_id" value="gps" />
    <param name="use_GNSS_time" value="False" />
    <param name="time_ref_source" value="gps" />
    <param name="useRMC" value="False" />
  </node>

  <!-- node for camera -->
    <!-- depthai-ros for camera -->
       
  <node pkg = "rosaria" type = "RosAria" name = "RosAria">
    <param name="port" value="/dev/ttyS1" type="string"/>
  </node>
  
  <node pkg="photo_taking" type="photo_taking.py" name="photo_taking" output="screen">
    <param name="file_path" type="str" value="$(find photo_taking)" />
  </node>
  
  <!-- node for lidar -->
  <include file="$(find sick_scan)/launch/sick_tim_7xx.launch"></include>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find sick_scan)/rviz/Lidar_points_v1.rviz" />
  <!-- <include file="$(find depthai_examples)/launch/stereo_node.launch"> -->

  <node name="lidar_detect" pkg="lidar_detect" type="lidar_detect.py" output="screen" />
  <node pkg="path_following" type="path_following.py" name="path_following" output="screen">
  </node>
  <node pkg="record_display" type="record_display.py" name="record_display" output="screen"/>
   <node pkg="heading" type="heading.py" name="heading"/>
  
  <include file="$(find depthai_examples)/launch/rgbd_pcl.launch"></include>  
  <!-- node for transformation -->
  <rosparam command="load" file="$(find robot_localization)/params/dual_ekf_navsat_example.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/navsat_transform_template.yaml" />
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
      <remap from="gps/fix" to="/fix"/>
  </node>
  
</launch> 
